Repository Th3Mayar/sabor_app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, style, backend, documentation, test, ci-cd, deps-npm, build-npm

Update FRONTEND/pages/reservation/index.vue
  FRONTEND/pages/reservation/index.vue
Labels: frontend, build-npm

Update FRONTEND/package.json
  FRONTEND/package.json
Labels: none

Update FRONTEND/components/atoms/ReservationAnimation.vue
  FRONTEND/components/atoms/ReservationAnimation.vue
Labels: frontend, build-npm

Update BACKEND/tsconfig.json
  BACKEND/tsconfig.json
Labels: none

Update BACKEND/src/middlewares/index.ts
  BACKEND/src/middlewares/index.ts
Labels: backend

Update BACKEND/src/controllers/authController.ts
  BACKEND/src/controllers/authController.ts
Labels: backend

Update FRONTEND/pages/reservation/index.vue
  FRONTEND/pages/reservation/index.vue
Labels: frontend, build-npm

Update FRONTEND/middleware/auth.ts
  FRONTEND/middleware/auth.ts
Labels: frontend

.github/labeler.yml:

# Frontend related files
# Triggers when modifying JavaScript, TypeScript, Vue or frontend PHP files
frontend:
  - "**/*.vue"
  - "FRONTEND/**/*.ts"
  - "FRONTEND/**/*.js"

# Style related files
# Triggers when modifying any styling files (CSS, SCSS, LESS)
style:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.less"

# Backend related files
# Triggers when modifying PHP application files, routes or tests
backend:
  - "BACKEND/**/*.ts"

# Documentation related files
# Triggers when modifying any documentation files
documentation:
  - "docs/**/*"
  - "phpDoc/**/*"
  - "**/*.md"

# Tests related files
# Triggers when modifying any test files
test:
  - ".env.testing"
  - "phpunit.xml"
  - "jest.config.js"
  - "tests/**/*"
  - "**/*.test.{js,ts}"
  - "**/*.spec.{js,ts}"

# CI/CD Configuration files
# Triggers when modifying any configuration, environment or Docker related files
ci-cd:
  - ".github/workflows/**"
  - "package.json"
  - "**/*.example"
  - ".env.example"
  - "**/*.yml"
  - "**/*.yaml"

# NPM Dependencies
# Triggers when files that require 'npm install' are modified
deps-npm:
  - "package.json"

# NPM Build
# Triggers when files that require 'npm run build' are modified
build-npm:
  - "tsconfig.json"
  - "**/*.vue"
